<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="substratum.theme.template"
          android:installLocation="internalOnly">

        <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="projekt.substratum.theme"
        android:required="false" /> <!-- Set to true for block to be enabled -->

        <application
            android:allowBackup="false"
            android:icon="@drawable/icon"
            android:label="@string/ThemeName"
            android:supportsRtl="true"
            android:theme="@style/DialogStyle"
            tools:node="replace">

            <activity android:name="substratum.theme.template.SubstratumLauncher">
                <intent-filter>
                    <action android:name="projekt.substratum.THEME"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                </intent-filter>
            </activity>

            <meta-data
                android:name="Substratum_Legacy"
                android:value="true"/>
            <meta-data
                android:name="Substratum_Name"
                android:value="@string/ThemeName"/>
            <meta-data
                android:name="Substratum_Author"
                android:value="@string/ThemeAuthor"/>
            <meta-data
                android:name="Substratum_ThemeReady"
                android:value="ready"/>
            <meta-data
                android:name="Substratum_Email"
                android:value="jerbeck24@gmail.com"/>
            <meta-data
                android:name="Substratum_Wallpapers"
                android:value="http://pastebin.com/raw/sqaSq8A4"/>
            <meta-data
                android:name="Substratum_Plugin"
                android:value="7.0.2"/>



        </application>

<!-- Change to true for OMS ROM support ONLY (Wouldn't support Legacy)
    <uses-feature
        android:name="projekt.substratum.theme"
        android:required="false" />
 -->

</manifest>